@charset "UTF-8";

/** 基本 */
body {
    margin : 0;
    background-color: #EEE;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}


IMG {
    display: block;
}

/** ヘッダ */
.header {
    height: 112px;
    background-color: #FFF;
}

.header-container {
    
    /**flexを指定することでフレックスコンテナに変換する*/
    display: flex;
    
    /** アイテムの横方向の配置 */
    /** space-between(両端揃え) */
    justify-content: space-between;

    /** アイテムの縦方向の配置 */
    /** center(中央揃え) */
    align-items: center;
    height: 100%;

}

/** ナビゲーションボタン */
.navbtn {
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #AAA;
    font-size: 30px;
}

.w-container {
    /** min関数: 幅を第一引数、最大幅を第二引数に指定する */
    width: min(92%, 1166px);
    margin: auto;
}

/** ヒーロー */
.hero {
    height: 650px;
    /** ↓背景画像を指定 */
    background-image: url(img/hero.jpg);
    
    /** ↓画像の中央を切り出す */
    background-position: center;
    
    /** ↓<section>に合わせたサイズに調整 */
    background-size: cover;
}
